In [1]:
import pandas as pd
import os
import glob
import datetime
import matplotlib.pyplot as plt
import plotly.express as px
from jupyterthemes import jtplot
import requests
from bs4 import BeautifulSoup

jtplot.style()

In [47]:
ending = 'csv'
path_to_files = r'./COVID-19/csse_covid_19_data/csse_covid_19_time_series'

all_paths = glob.glob(os.path.join(path_to_files, f'*.{ending}'))

In [48]:
all_paths

['./COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv',
 './COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv',
 './COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv']

In [49]:
df_list = list()

for f in all_paths:
    foo = pd.read_csv(f)
    foo = pd.melt(foo, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name = ['Date'])
    foo['Date'] = pd.to_datetime(foo['Date'])
    foo.columns = foo.columns.str.replace('value', f.split("-")[-1].split(".")[0])
    foo['Province/State'].fillna(foo['Country/Region'], inplace = True)
    foo.set_index(['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'], inplace = True)
    df_list.append(foo)

In [50]:
df = pd.concat(df_list, axis = 1).reset_index()
df.shape

(23426, 8)

In [51]:
df['MonthYear'] = df['Date'].dt.strftime('%b-%Y')
df.head()

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered,MonthYear
0,"Adams, IN",US,2020-01-22,39.8522,-77.2865,0,0,0,Jan-2020
1,"Adams, IN",US,2020-01-23,39.8522,-77.2865,0,0,0,Jan-2020
2,"Adams, IN",US,2020-01-24,39.8522,-77.2865,0,0,0,Jan-2020
3,"Adams, IN",US,2020-01-25,39.8522,-77.2865,0,0,0,Jan-2020
4,"Adams, IN",US,2020-01-26,39.8522,-77.2865,0,0,0,Jan-2020

In [ ]:
# europe = dict()

# URL = "https://en.wikipedia.org/wiki/Member_state_of_the_European_Union"

# res = requests.get(URL).text
# soup = BeautifulSoup(res,'lxml')
# for items in soup.find('table', class_='wikitable').find_all('tr')[1::1]:
#     data = items.find_all(['th','td'])
#     try:
#         country = data[0].a.text
#         europe[country] = 'EU'
#     except IndexError:
#         pass

In [ ]:
df[df['Country/Region'] == 'United Kingdom'].groupby(['Date', 'Country/Region']).sum()[['Confirmed', 'Deaths', 'Recovered']].plot()

In [35]:
foo = pd.read_csv('countries.csv')
foo = foo.copy()

In [36]:
foo['Country_Name'] = foo['Country_Name'].apply(lambda x: x.split(',')[0])

In [38]:
foo[foo['Country_Name'] == 'United States of America']['Country_Name'] = foo[foo['Country_Name'] == 'United States of America']['Country_Name'].map({'United States of America':'US'})

/Users/alexrpd/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
country_continent = dict(zip(foo.Country_Name, foo.Continent_Name))

In [57]:
{'Afghanistan': 'Asia',
 'Albania': 'Europe',
 'Antarctica': 'Antarctica',
 'Algeria': 'Africa',
 'American Samoa': 'Oceania',
 'Andorra': 'Europe',
 'Angola': 'Africa',
 'Antigua and Barbuda': 'North America',
 'Azerbaijan': 'Asia',
 'Argentina': 'South America',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Bahamas': 'North America',
 'Bahrain': 'Asia',
 'Bangladesh': 'Asia',
 'Armenia': 'Asia',
 'Barbados': 'North America',
 'Belgium': 'Europe',
 'Bermuda': 'North America',
 'Bhutan': 'Asia',
 'Bolivia': 'South America',
 'Bosnia and Herzegovina': 'Europe',
 'Botswana': 'Africa',
 'Bouvet Island (Bouvetoya)': 'Antarctica',
 'Brazil': 'South America',
 'Belize': 'North America',
 'British Indian Ocean Territory (Chagos Archipelago)': 'Asia',
 'Solomon Islands': 'Oceania',
 'British Virgin Islands': 'North America',
 'Brunei': 'Asia',
 'Bulgaria': 'Europe',
 'Myanmar': 'Asia',
 'Burundi': 'Africa',
 'Belarus': 'Europe',
 'Cambodia': 'Asia',
 'Cameroon': 'Africa',
 'Canada': 'North America',
 'Cape Verde': 'Africa',
 'Cayman Islands': 'North America',
 'Central African Republic': 'Africa',
 'Sri Lanka': 'Asia',
 'Chad': 'Africa',
 'Chile': 'South America',
 'China': 'Asia',
 'Taiwan*': 'Asia',
 'Christmas Island': 'Asia',
 'Cocos (Keeling) Islands': 'Asia',
 'Colombia': 'South America',
 'Comoros': 'Africa',
 'Mayotte': 'Africa',
 'Congo (Kinshasa)': 'Africa',
 'Cook Islands': 'Oceania',
 'Costa Rica': 'North America',
 'Croatia': 'Europe',
 'Cuba': 'North America',
 'Cyprus': 'Asia',
 'Czechia': 'Europe',
 'Benin': 'Africa',
 'Denmark': 'Europe',
 'Dominica': 'North America',
 'Dominican Republic': 'North America',
 'Ecuador': 'South America',
 'El Salvador': 'North America',
 'Equatorial Guinea': 'Africa',
 'Ethiopia': 'Africa',
 'Eritrea': 'Africa',
 'Estonia': 'Europe',
 'Faroe Islands': 'Europe',
 'Falkland Islands (Malvinas)': 'South America',
 'South Georgia and the South Sandwich Islands': 'Antarctica',
 'Fiji': 'Oceania',
 'Finland': 'Europe',
 'Ã…land Islands': 'Europe',
 'France': 'Europe',
 'French Guiana': 'South America',
 'French Polynesia': 'Oceania',
 'French Southern Territories': 'Antarctica',
 'Djibouti': 'Africa',
 'Gabon': 'Africa',
 'Georgia': 'Asia',
 'Gambia': 'Africa',
 'occupied Palestinian territory': 'Asia',
 'Germany': 'Europe',
 'Ghana': 'Africa',
 'Gibraltar': 'Europe',
 'Kiribati': 'Oceania',
 'Greece': 'Europe',
 'Greenland': 'North America',
 'Grenada': 'North America',
 'Guadeloupe': 'North America',
 'Guam': 'Oceania',
 'Guatemala': 'North America',
 'Guinea': 'Africa',
 'Guyana': 'South America',
 'Haiti': 'North America',
 'Heard Island and McDonald Islands': 'Antarctica',
 'Holy See (Vatican City State)': 'Europe',
 'Honduras': 'North America',
 'Hong Kong': 'Asia',
 'Hungary': 'Europe',
 'Iceland': 'Europe',
 'India': 'Asia',
 'Indonesia': 'Asia',
 'Iran': 'Asia',
 'Iraq': 'Asia',
 'Ireland': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 "Cote d'Ivoire": 'Africa',
 'Jamaica': 'North America',
 'Japan': 'Asia',
 'Kazakhstan': 'Asia',
 'Jordan': 'Asia',
 'Kenya': 'Africa',
 'Korea, South': 'Asia',
 'Kuwait': 'Asia',
 'Kyrgyz Republic': 'Asia',
 "Lao People's Democratic Republic": 'Asia',
 'Lebanon': 'Asia',
 'Lesotho': 'Africa',
 'Latvia': 'Europe',
 'Liberia': 'Africa',
 'Libyan Arab Jamahiriya': 'Africa',
 'Liechtenstein': 'Europe',
 'Lithuania': 'Europe',
 'Luxembourg': 'Europe',
 'Macao': 'Asia',
 'Madagascar': 'Africa',
 'Malawi': 'Africa',
 'Malaysia': 'Asia',
 'Maldives': 'Asia',
 'Mali': 'Africa',
 'Malta': 'Europe',
 'Martinique': 'North America',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Mexico': 'North America',
 'Monaco': 'Europe',
 'Mongolia': 'Asia',
 'Moldova': 'Europe',
 'Montenegro': 'Europe',
 'Montserrat': 'North America',
 'Morocco': 'Africa',
 'Mozambique': 'Africa',
 'Oman': 'Asia',
 'Namibia': 'Africa',
 'Nauru': 'Oceania',
 'Nepal': 'Asia',
 'Netherlands': 'Europe',
 'Netherlands Antilles': 'North America',
 'CuraÃ§ao': 'North America',
 'Aruba': 'North America',
 'Sint Maarten (Netherlands)': 'North America',
 'Bonaire': 'North America',
 'New Caledonia': 'Oceania',
 'Vanuatu': 'Oceania',
 'New Zealand': 'Oceania',
 'Nicaragua': 'North America',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Niue': 'Oceania',
 'Norfolk Island': 'Oceania',
 'Norway': 'Europe',
 'Northern Mariana Islands': 'Oceania',
 'United States Minor Outlying Islands': 'North America',
 'Micronesia': 'Oceania',
 'Marshall Islands': 'Oceania',
 'Palau': 'Oceania',
 'Pakistan': 'Asia',
 'Panama': 'North America',
 'Papua New Guinea': 'Oceania',
 'Paraguay': 'South America',
 'Peru': 'South America',
 'Philippines': 'Asia',
 'Pitcairn Islands': 'Oceania',
 'Poland': 'Europe',
 'Portugal': 'Europe',
 'Guinea-Bissau': 'Africa',
 'Timor-Leste': 'Asia',
 'Puerto Rico': 'North America',
 'Qatar': 'Asia',
 'Reunion': 'Africa',
 'Romania': 'Europe',
 'Russia': 'Asia',
 'Rwanda': 'Africa',
 'Saint Barthelemy': 'North America',
 'Saint Helena': 'Africa',
 'Saint Kitts and Nevis': 'North America',
 'Anguilla': 'North America',
 'Saint Lucia': 'North America',
 'Saint Martin': 'North America',
 'Saint Pierre and Miquelon': 'North America',
 'Saint Vincent and the Grenadines': 'North America',
 'San Marino': 'Europe',
 'Sao Tome and Principe': 'Africa',
 'Saudi Arabia': 'Asia',
 'Senegal': 'Africa',
 'Serbia': 'Europe',
 'Seychelles': 'Africa',
 'Sierra Leone': 'Africa',
 'Singapore': 'Asia',
 'Slovakia': 'Europe',
 'Vietnam': 'Asia',
 'Slovenia': 'Europe',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'Zimbabwe': 'Africa',
 'Spain': 'Europe',
 'South Sudan': 'Africa',
 'Western Sahara': 'Africa',
 'Sudan': 'Africa',
 'Suriname': 'South America',
 'Svalbard & Jan Mayen Islands': 'Europe',
 'Swaziland': 'Africa',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Syrian Arab Republic': 'Asia',
 'Tajikistan': 'Asia',
 'Thailand': 'Asia',
 'Togo': 'Africa',
 'Tokelau': 'Oceania',
 'Tonga': 'Oceania',
 'Trinidad and Tobago': 'North America',
 'United Arab Emirates': 'Asia',
 'Tunisia': 'Africa',
 'Turkey': 'Asia',
 'Turkmenistan': 'Asia',
 'Turks and Caicos Islands': 'North America',
 'Tuvalu': 'Oceania',
 'Uganda': 'Africa',
 'Ukraine': 'Europe',
 'North Macedonia': 'Europe',
 'Egypt': 'Africa',
 'United Kingdom': 'Europe',
 'Guernsey': 'Europe',
 'Jersey': 'Europe',
 'Isle of Man': 'Europe',
 'Tanzania': 'Africa',
 'US': 'North America',
 'United States Virgin Islands': 'North America',
 'Burkina Faso': 'Africa',
 'Uruguay': 'South America',
 'Uzbekistan': 'Asia',
 'Venezuela': 'South America',
 'Wallis and Futuna': 'Oceania',
 'Samoa': 'Oceania',
 'Yemen': 'Asia',
 'Zambia': 'Africa',
 'Disputed Territory': 'Oceania',
 'Iraq-Saudi Arabia Neutral Zone': 'Asia',
 'United Nations Neutral Zone': 'Asia',
 'Spratly Islands': 'Asia',
 'Cruise Ship': 'Other',
 'Holy See': 'Holy See'}

{'Afghanistan': 'Asia',
 'Albania': 'Europe',
 'Antarctica': 'Antarctica',
 'Algeria': 'Africa',
 'American Samoa': 'Oceania',
 'Andorra': 'Europe',
 'Angola': 'Africa',
 'Antigua and Barbuda': 'North America',
 'Azerbaijan': 'Asia',
 'Argentina': 'South America',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Bahamas': 'North America',
 'Bahrain': 'Asia',
 'Bangladesh': 'Asia',
 'Armenia': 'Asia',
 'Barbados': 'North America',
 'Belgium': 'Europe',
 'Bermuda': 'North America',
 'Bhutan': 'Asia',
 'Bolivia': 'South America',
 'Bosnia and Herzegovina': 'Europe',
 'Botswana': 'Africa',
 'Bouvet Island (Bouvetoya)': 'Antarctica',
 'Brazil': 'South America',
 'Belize': 'North America',
 'British Indian Ocean Territory (Chagos Archipelago)': 'Asia',
 'Solomon Islands': 'Oceania',
 'British Virgin Islands': 'North America',
 'Brunei': 'Asia',
 'Bulgaria': 'Europe',
 'Myanmar': 'Asia',
 'Burundi': 'Africa',
 'Belarus': 'Europe',
 'Cambodia': 'Asia',
 'Cameroon': 'Africa',
 'Canada': 'North America',
 'Cape Verde': 'Africa',
 'Cayman Islands': 'North America',
 'Central African Republic': 'Africa',
 'Sri Lanka': 'Asia',
 'Chad': 'Africa',
 'Chile': 'South America',
 'China': 'Asia',
 'Taiwan*': 'Asia',
 'Christmas Island': 'Asia',
 'Cocos (Keeling) Islands': 'Asia',
 'Colombia': 'South America',
 'Comoros': 'Africa',
 'Mayotte': 'Africa',
 'Congo (Kinshasa)': 'Africa',
 'Cook Islands': 'Oceania',
 'Costa Rica': 'North America',
 'Croatia': 'Europe',
 'Cuba': 'North America',
 'Cyprus': 'Asia',
 'Czechia': 'Europe',
 'Benin': 'Africa',
 'Denmark': 'Europe',
 'Dominica': 'North America',
 'Dominican Republic': 'North America',
 'Ecuador': 'South America',
 'El Salvador': 'North America',
 'Equatorial Guinea': 'Africa',
 'Ethiopia': 'Africa',
 'Eritrea': 'Africa',
 'Estonia': 'Europe',
 'Faroe Islands': 'Europe',
 'Falkland Islands (Malvinas)': 'South America',
 'South Georgia and the South Sandwich Islands': 'Antarctica',
 'Fiji': 'Oceania',
 'Finland': 'Europe',
 'Ã…land Islands': 'Europe',
 'France': 'Europe',
 'French Guiana': 'South America',
 'French Polynesia': 'Oceania',
 'French Southern Territories': 'Antarctica',
 'Djibouti': 'Africa',
 'Gabon': 'Africa',
 'Georgia': 'Asia',
 'Gambia': 'Africa',
 'occupied Palestinian territory': 'Asia',
 'Germany': 'Europe',
 'Ghana': 'Africa',
 'Gibraltar': 'Europe',
 'Kiribati': 'Oceania',
 'Greece': 'Europe',
 'Greenland': 'North America',
 'Grenada': 'North America',
 'Guadeloupe': 'North America',
 'Guam': 'Oceania',
 'Guatemala': 'North America',
 'Guinea': 'Africa',
 'Guyana': 'South America',
 'Haiti': 'North America',
 'Heard Island and McDonald Islands': 'Antarctica',
 'Holy See (Vatican City State)': 'Europe',
 'Honduras': 'North America',
 'Hong Kong': 'Asia',
 'Hungary': 'Europe',
 'Iceland': 'Europe',
 'India': 'Asia',
 'Indonesia': 'Asia',
 'Iran': 'Asia',
 'Iraq': 'Asia',
 'Ireland': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 "Cote d'Ivoire": 'Africa',
 'Jamaica': 'North America',
 'Japan': 'Asia',
 'Kazakhstan': 'Asia',
 'Jordan': 'Asia',
 'Kenya': 'Africa',
 'Korea, South': 'Asia',
 'Kuwait': 'Asia',
 'Kyrgyz Republic': 'Asia',
 "Lao People's Democratic Republic": 'Asia',
 'Lebanon': 'Asia',
 'Lesotho': 'Africa',
 'Latvia': 'Europe',
 'Liberia': 'Africa',
 'Libyan Arab Jamahiriya': 'Africa',
 'Liechtenstein': 'Europe',
 'Lithuania': 'Europe',
 'Luxembourg': 'Europe',
 'Macao': 'Asia',
 'Madagascar': 'Africa',
 'Malawi': 'Africa',
 'Malaysia': 'Asia',
 'Maldives': 'Asia',
 'Mali': 'Africa',
 'Malta': 'Europe',
 'Martinique': 'North America',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Mexico': 'North America',
 'Monaco': 'Europe',
 'Mongolia': 'Asia',
 'Moldova': 'Europe',
 'Montenegro': 'Europe',
 'Montserrat': 'North America',
 'Morocco': 'Africa',
 'Mozambique': 'Africa',
 'Oman': 'Asia',
 'Namibia': 'Africa',
 'Nauru': 'Oceania',
 'Nepal': 'Asia',
 'Netherlands': 'Europe',
 'Netherlands Antilles': 'North America',
 'CuraÃ§ao': 'North America',
 'Aruba': 'North America',
 'Sint Maarten (Netherlands)': 'North America',
 'Bonaire': 'North America',
 'New Caledonia': 'Oceania',
 'Vanuatu': 'Oceania',
 'New Zealand': 'Oceania',
 'Nicaragua': 'North America',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Niue': 'Oceania',
 'Norfolk Island': 'Oceania',
 'Norway': 'Europe',
 'Northern Mariana Islands': 'Oceania',
 'United States Minor Outlying Islands': 'North America',
 'Micronesia': 'Oceania',
 'Marshall Islands': 'Oceania',
 'Palau': 'Oceania',
 'Pakistan': 'Asia',
 'Panama': 'North America',
 'Papua New Guinea': 'Oceania',
 'Paraguay': 'South America',
 'Peru': 'South America',
 'Philippines': 'Asia',
 'Pitcairn Islands': 'Oceania',
 'Poland': 'Europe',
 'Portugal': 'Europe',
 'Guinea-Bissau': 'Africa',
 'Timor-Leste': 'Asia',
 'Puerto Rico': 'North America',
 'Qatar': 'Asia',
 'Reunion': 'Africa',
 'Romania': 'Europe',
 'Russia': 'Asia',
 'Rwanda': 'Africa',
 'Saint Barthelemy': 'North America',
 'Saint Helena': 'Africa',
 'Saint Kitts and Nevis': 'North America',
 'Anguilla': 'North America',
 'Saint Lucia': 'North America',
 'Saint Martin': 'North America',
 'Saint Pierre and Miquelon': 'North America',
 'Saint Vincent and the Grenadines': 'North America',
 'San Marino': 'Europe',
 'Sao Tome and Principe': 'Africa',
 'Saudi Arabia': 'Asia',
 'Senegal': 'Africa',
 'Serbia': 'Europe',
 'Seychelles': 'Africa',
 'Sierra Leone': 'Africa',
 'Singapore': 'Asia',
 'Slovakia': 'Europe',
 'Vietnam': 'Asia',
 'Slovenia': 'Europe',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'Zimbabwe': 'Africa',
 'Spain': 'Europe',
 'South Sudan': 'Africa',
 'Western Sahara': 'Africa',
 'Sudan': 'Africa',
 'Suriname': 'South America',
 'Svalbard & Jan Mayen Islands': 'Europe',
 'Swaziland': 'Africa',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Syrian Arab Republic': 'Asia',
 'Tajikistan': 'Asia',
 'Thailand': 'Asia',
 'Togo': 'Africa',
 'Tokelau': 'Oceania',
 'Tonga': 'Oceania',
 'Trinidad and Tobago': 'North America',
 'United Arab Emirates': 'Asia',
 'Tunisia': 'Africa',
 'Turkey': 'Asia',
 'Turkmenistan': 'Asia',
 'Turks and Caicos Islands': 'North America',
 'Tuvalu': 'Oceania',
 'Uganda': 'Africa',
 'Ukraine': 'Europe',
 'North Macedonia': 'Europe',
 'Egypt': 'Africa',
 'United Kingdom': 'Europe',
 'Guernsey': 'Europe',
 'Jersey': 'Europe',
 'Isle of Man': 'Europe',
 'Tanzania': 'Africa',
 'US': 'North America',
 'United States Virgin Islands': 'North America',
 'Burkina Faso': 'Africa',
 'Uruguay': 'South America',
 'Uzbekistan': 'Asia',
 'Venezuela': 'South America',
 'Wallis and Futuna': 'Oceania',
 'Samoa': 'Oceania',
 'Yemen': 'Asia',
 'Zambia': 'Africa',
 'Disputed Territory': 'Oceania',
 'Iraq-Saudi Arabia Neutral Zone': 'Asia',
 'United Nations Neutral Zone': 'Asia',
 'Spratly Islands': 'Asia',
 'Cruise Ship': 'Other',
 'Holy See': 'Holy See'}

In [58]:
df['Continent'] = df['Country/Region'].map(country_continent)

In [59]:
df[df['Continent'].isna()]

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered,MonthYear,Continent
4134,Curacao,Curacao,2020-01-22,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4135,Curacao,Curacao,2020-01-23,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4136,Curacao,Curacao,2020-01-24,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4137,Curacao,Curacao,2020-01-25,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4138,Curacao,Curacao,2020-01-26,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4139,Curacao,Curacao,2020-01-27,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4140,Curacao,Curacao,2020-01-28,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4141,Curacao,Curacao,2020-01-29,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4142,Curacao,Curacao,2020-01-30,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4143,Curacao,Curacao,2020-01-31,12.1696,-68.9900,0,0,0,Jan-2020,NaN
4144,Curacao,Curacao,2020-02-01,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4145,Curacao,Curacao,2020-02-02,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4146,Curacao,Curacao,2020-02-03,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4147,Curacao,Curacao,2020-02-04,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4148,Curacao,Curacao,2020-02-05,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4149,Curacao,Curacao,2020-02-06,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4150,Curacao,Curacao,2020-02-07,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4151,Curacao,Curacao,2020-02-08,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4152,Curacao,Curacao,2020-02-09,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4153,Curacao,Curacao,2020-02-10,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4154,Curacao,Curacao,2020-02-11,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4155,Curacao,Curacao,2020-02-12,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4156,Curacao,Curacao,2020-02-13,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4157,Curacao,Curacao,2020-02-14,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4158,Curacao,Curacao,2020-02-15,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4159,Curacao,Curacao,2020-02-16,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4160,Curacao,Curacao,2020-02-17,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4161,Curacao,Curacao,2020-02-18,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4162,Curacao,Curacao,2020-02-19,12.1696,-68.9900,0,0,0,Feb-2020,NaN
4163,Curacao,Curacao,2020-02-20,12.1696,-68.9900,0,0,0,Feb-2020,NaN
...,...,...,...,...,...,...,...,...,...,...
23396,occupied Palestinian territory,occupied Palestinian territory,2020-02-14,31.9522,35.2332,0,0,0,Feb-2020,NaN
23397,occupied Palestinian territory,occupied Palestinian territory,2020-02-15,31.9522,35.2332,0,0,0,Feb-2020,NaN
23398,occupied Palestinian territory,occupied Palestinian territory,2020-02-16,31.9522,35.2332,0,0,0,Feb-2020,NaN
23399,occupied Palestinian territory,occupied Palestinian territory,2020-02-17,31.9522,35.2332,0,0,0,Feb-2020,NaN
23400,occupied Palestinian territory,occupied Palestinian territory,2020-02-18,31.9522,35.2332,0,0,0,Feb-2020,NaN
23401,occupied Palestinian territory,occupied Palestinian territory,2020-02-19,31.9522,35.2332,0,0,0,Feb-2020,NaN
23402,occupied Palestinian territory,occupied Palestinian territory,2020-02-20,31.9522,35.2332,0,0,0,Feb-2020,NaN
23403,occupied Palestinian territory,occupied Palestinian territory,2020-02-21,31.9522,35.2332,0,0,0,Feb-2020,NaN
23404,occupied Palestinian territory,occupied Palestinian territory,2020-02-22,31.9522,35.2332,0,0,0,Feb-2020,NaN
23405,occupied Palestinian territory,occupied Palestinian territory,2020-02-23,31.9522,35.2332,0,0,0,Feb-2020,NaN
23406,occupied Palestinian territory,occupied Palestinian territory,2020-02-24,31.9522,35.2332,0,0,0,Feb-2020,NaN
23407,occupied Palestinian territory,occupied Palestinian territory,2020-02-25,31.9522,35.2332,0,0,0,Feb-2020,NaN
23408,occupied Palestinian territory,occupied Palestinian territory,2020-02-26,31.9522,35.2332,0,0,0,Feb-2020,NaN
23409,occupied Palestinian territory,occupied Palestinian territory,2020-02-27,31.9522,35.2332,0,0,0,Feb-2020,NaN
23410,occupied Palestinian territory,occupied Palestinian territory,2020-02-28,31.9522,35.2332,0,0,0,Feb-2020,NaN
23411,occupied Palestinian territory,occupied Palestinian territory,2020-02-29,31.9522,35.2332,0,0,0,Feb-2020,NaN
23412,occupied Palestinian territory,occupied Palestinian territory,2020-03-01,31.9522,35.2332,0,0,0,Mar-2020,NaN
23413,occupied Palestinian territory,occupied Palestinian territory,2020-03-02,31.9522,35.2332,0,0,0,Mar-2020,NaN
23414,occupied Palestinian territory,occupied Palestinian territory,2020-03-03,31.9522,35.2332,0,0,0,Mar-2020,NaN
23415,occupied Palestinian territory,occupied Palestinian territory,2020-03-04,31.9522,35.2332,0,0,0,Mar-2020,NaN
23416,occupied Palestinian territory,occupied Palestinian territory,2020-03-05,31.9522,35.2332,0,0,0,Mar-2020,NaN
23417,occupied Palestinian territory,occupied Palestinian territory,2020-03-06,31.9522,35.2332,0,0,0,Mar-2020,NaN
23418,occupied Palestinian territory,occupied Palestinian territory,2020-03-07,31.9522,35.2332,0,0,0,Mar-2020,NaN
23419,occupied Palestinian territory,occupied Palestinian territory,2020-03-08,31.9522,35.2332,0,0,0,Mar-2020,NaN
23420,occupied Palestinian territory,occupied Palestinian territory,2020-03-09,31.9522,35.2332,0,0,0,Mar-2020,NaN
23421,occupied Palestinian territory,occupied Palestinian territory,2020-03-10,31.9522,35.2332,0,0,0,Mar-2020,NaN
23422,occupied Palestinian territory,occupied Palestinian territory,2020-03-11,31.9522,35.2332,0,0,0,Mar-2020,NaN
23423,occupied Palestinian territory,occupied Palestinian territory,2020-03-12,31.9522,35.2332,0,0,0,Mar-2020,NaN
23424,occupied Palestinian territory,occupied Palestinian territory,2020-03-13,31.9522,35.2332,0,0,0,Mar-2020,NaN
23425,occupied Palestinian territory,occupied Palestinian territory,2020-03-14,31.9522,35.2332,0,0,0,Mar-2020,NaN

In [46]:
df.to_csv('data_v0.1.csv')

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered,MonthYear,Continent
0,"Adams, IN",US,2020-01-22,39.8522,-77.2865,0,0,0,Jan-2020,North America
1,"Adams, IN",US,2020-01-23,39.8522,-77.2865,0,0,0,Jan-2020,North America
2,"Adams, IN",US,2020-01-24,39.8522,-77.2865,0,0,0,Jan-2020,North America
3,"Adams, IN",US,2020-01-25,39.8522,-77.2865,0,0,0,Jan-2020,North America
4,"Adams, IN",US,2020-01-26,39.8522,-77.2865,0,0,0,Jan-2020,North America
5,"Adams, IN",US,2020-01-27,39.8522,-77.2865,0,0,0,Jan-2020,North America
6,"Adams, IN",US,2020-01-28,39.8522,-77.2865,0,0,0,Jan-2020,North America
7,"Adams, IN",US,2020-01-29,39.8522,-77.2865,0,0,0,Jan-2020,North America
8,"Adams, IN",US,2020-01-30,39.8522,-77.2865,0,0,0,Jan-2020,North America
9,"Adams, IN",US,2020-01-31,39.8522,-77.2865,0,0,0,Jan-2020,North America
10,"Adams, IN",US,2020-02-01,39.8522,-77.2865,0,0,0,Feb-2020,North America
11,"Adams, IN",US,2020-02-02,39.8522,-77.2865,0,0,0,Feb-2020,North America
12,"Adams, IN",US,2020-02-03,39.8522,-77.2865,0,0,0,Feb-2020,North America
13,"Adams, IN",US,2020-02-04,39.8522,-77.2865,0,0,0,Feb-2020,North America
14,"Adams, IN",US,2020-02-05,39.8522,-77.2865,0,0,0,Feb-2020,North America
15,"Adams, IN",US,2020-02-06,39.8522,-77.2865,0,0,0,Feb-2020,North America
16,"Adams, IN",US,2020-02-07,39.8522,-77.2865,0,0,0,Feb-2020,North America
17,"Adams, IN",US,2020-02-08,39.8522,-77.2865,0,0,0,Feb-2020,North America
18,"Adams, IN",US,2020-02-09,39.8522,-77.2865,0,0,0,Feb-2020,North America
19,"Adams, IN",US,2020-02-10,39.8522,-77.2865,0,0,0,Feb-2020,North America
20,"Adams, IN",US,2020-02-11,39.8522,-77.2865,0,0,0,Feb-2020,North America
21,"Adams, IN",US,2020-02-12,39.8522,-77.2865,0,0,0,Feb-2020,North America
22,"Adams, IN",US,2020-02-13,39.8522,-77.2865,0,0,0,Feb-2020,North America
23,"Adams, IN",US,2020-02-14,39.8522,-77.2865,0,0,0,Feb-2020,North America
24,"Adams, IN",US,2020-02-15,39.8522,-77.2865,0,0,0,Feb-2020,North America
25,"Adams, IN",US,2020-02-16,39.8522,-77.2865,0,0,0,Feb-2020,North America
26,"Adams, IN",US,2020-02-17,39.8522,-77.2865,0,0,0,Feb-2020,North America
27,"Adams, IN",US,2020-02-18,39.8522,-77.2865,0,0,0,Feb-2020,North America
28,"Adams, IN",US,2020-02-19,39.8522,-77.2865,0,0,0,Feb-2020,North America
29,"Adams, IN",US,2020-02-20,39.8522,-77.2865,0,0,0,Feb-2020,North America
...,...,...,...,...,...,...,...,...,...,...
21862,Zhejiang,China,2020-02-13,29.1832,120.0934,1145,0,360,Feb-2020,Asia
21863,Zhejiang,China,2020-02-14,29.1832,120.0934,1155,0,403,Feb-2020,Asia
21864,Zhejiang,China,2020-02-15,29.1832,120.0934,1162,0,428,Feb-2020,Asia
21865,Zhejiang,China,2020-02-16,29.1832,120.0934,1167,0,456,Feb-2020,Asia
21866,Zhejiang,China,2020-02-17,29.1832,120.0934,1171,0,507,Feb-2020,Asia
21867,Zhejiang,China,2020-02-18,29.1832,120.0934,1172,0,535,Feb-2020,Asia
21868,Zhejiang,China,2020-02-19,29.1832,120.0934,1174,0,604,Feb-2020,Asia
21869,Zhejiang,China,2020-02-20,29.1832,120.0934,1175,1,633,Feb-2020,Asia
21870,Zhejiang,China,2020-02-21,29.1832,120.0934,1203,1,679,Feb-2020,Asia
21871,Zhejiang,China,2020-02-22,29.1832,120.0934,1205,1,719,Feb-2020,Asia
21872,Zhejiang,China,2020-02-23,29.1832,120.0934,1205,1,760,Feb-2020,Asia
21873,Zhejiang,China,2020-02-24,29.1832,120.0934,1205,1,782,Feb-2020,Asia
21874,Zhejiang,China,2020-02-25,29.1832,120.0934,1205,1,808,Feb-2020,Asia
21875,Zhejiang,China,2020-02-26,29.1832,120.0934,1205,1,867,Feb-2020,Asia
21876,Zhejiang,China,2020-02-27,29.1832,120.0934,1205,1,932,Feb-2020,Asia
21877,Zhejiang,China,2020-02-28,29.1832,120.0934,1205,1,975,Feb-2020,Asia
21878,Zhejiang,China,2020-02-29,29.1832,120.0934,1205,1,1016,Feb-2020,Asia
21879,Zhejiang,China,2020-03-01,29.1832,120.0934,1205,1,1046,Mar-2020,Asia
21880,Zhejiang,China,2020-03-02,29.1832,120.0934,1206,1,1069,Mar-2020,Asia
21881,Zhejiang,China,2020-03-03,29.1832,120.0934,1213,1,1093,Mar-2020,Asia
21882,Zhejiang,China,2020-03-04,29.1832,120.0934,1213,1,1114,Mar-2020,Asia
21883,Zhejiang,China,2020-03-05,29.1832,120.0934,1215,1,1124,Mar-2020,Asia
21884,Zhejiang,China,2020-03-06,29.1832,120.0934,1215,1,1147,Mar-2020,Asia
21885,Zhejiang,China,2020-03-07,29.1832,120.0934,1215,1,1154,Mar-2020,Asia
21886,Zhejiang,China,2020-03-08,29.1832,120.0934,1215,1,1161,Mar-2020,Asia
21887,Zhejiang,China,2020-03-09,29.1832,120.0934,1215,1,1176,Mar-2020,Asia
21888,Zhejiang,China,2020-03-10,29.1832,120.0934,1215,1,1191,Mar-2020,Asia
21889,Zhejiang,China,2020-03-11,29.1832,120.0934,1215,1,1195,Mar-2020,Asia
21890,Zhejiang,China,2020-03-12,29.1832,120.0934,1215,1,1197,Mar-2020,Asia
21891,Zhejiang,China,2020-03-13,29.1832,120.0934,1215,1,1197,Mar-2020,Asia