In [1]:
from IPython.display import Image

In [7]:
import pandas as pd
import os
import glob
import datetime
import matplotlib.pyplot as plt
import plotly.express as px
from jupyterthemes import jtplot

In [8]:
ending = 'csv'
path_to_files = r'./COVID-19/csse_covid_19_data/csse_covid_19_time_series'

all_paths = glob.glob(os.path.join(path_to_files, f'*.{ending}'))

In [9]:
all_paths

['./COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv',
 './COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv',
 './COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv']

In [17]:
df_list = list()

for f in all_paths:
    foo = pd.read_csv(f)
    foo = pd.melt(foo, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name = ['Date'])
    foo['Date'] = pd.to_datetime(foo['Date'])
    foo.columns = foo.columns.str.replace('value', f.split("-")[-1].split(".")[0])
    foo['Province/State'].fillna(foo['Country/Region'], inplace = True)
    foo.set_index(['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'], inplace = True)
    df_list.append(foo)

In [18]:
df = pd.concat(df_list, axis = 1).reset_index()
df.shape

(21892, 8)

In [19]:
df['MonthYear'] = df['Date'].dt.strftime('%b-%Y')
df.head()

,Province/State,Country/Region,Date,Lat,Long,Confirmed,Deaths,Recovered,MonthYear
0,"Adams, IN",US,2020-01-22,39.8522,-77.2865,0,0,0,Jan-2020
1,"Adams, IN",US,2020-01-23,39.8522,-77.2865,0,0,0,Jan-2020
2,"Adams, IN",US,2020-01-24,39.8522,-77.2865,0,0,0,Jan-2020
3,"Adams, IN",US,2020-01-25,39.8522,-77.2865,0,0,0,Jan-2020
4,"Adams, IN",US,2020-01-26,39.8522,-77.2865,0,0,0,Jan-2020